body{
    margin: 0;
    padding: 0;
    background-color: rgb(66, 66, 85);
}
h1{
    color: blue;
    text-align: center;
}
h3{
    color: white;
    font-weight: lighter;
    margin-left: 10px;
}
button{
    color:white;
    background-color: blue;
    border-radius: 2em;
    margin-left: 30px;
    height: 30px;
    width: 100px;
}
.demo{
    color:rgb(76, 76, 233);
    margin-left:500px;
    font-style: unset;
    font-weight: bold; 
    font-size: 25px; 
    display: inline-block;
}